<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-brand">
      BusyCoala
    </div>
    <div class="navbar-nav">
    </div>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
    </div>
  </div>
  {{outlet}}
</div>
