<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-brand">
      BusyCoala
    </div>
    <div class="navbar-nav">
    </div>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
