html
  head
    meta(charset='utf-8')
    meta(name='format-detection', content='telephone=no')
    //- meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', type='text/css', href='lib/jquerymobile/jquery.mobile-1.3.2.min.css')
    //- link(rel='stylesheet', type='text/css', href='target/css/index.css')
    title Busykoala

  body
    div#page-main(data-role='page')
      div(data-role='header', data-position="fixed")
        h1 Devises

      div(data-role='content')
        ul.devices(data-role='listview', data-inset='true')
          li
            a(href='#detail')
              img(src='res/images/nopic.png')
              h2 LEDs
              p 4 * 4 LED device

          li
            a(href='#detail')
              img(src='res/images/nopic.png')
              h2 Fan
              p Room1 Fan

          li
            a(href='#detail')
              img(src='res/images/nopic.png')
              h2 Fan
              p Room1 Fan

      div(data-role="footer", data-position="fixed")
        div(data-role="navbar", data-iconpos="bottom")
          ul
            li
              a.ui-btn-active(href="#page-main", data-icon="bars", data-transition="flip") Devices
            li
              a(href="#page-detail", data-icon="info", data-transition="flip") Detail
            li
              a(href="#page-settings", data-icon="gear", data-transition="flip") Settings

    div#page-detail(data-role='page')
      div(data-role='header', data-position="fixed")
        h1 Detail for LEDs

      div(data-role='content')
        img#leds

        div(data-role='fieldcontain')
          label(for='pattern') 模式
          select#pattern
            option(value="0") 关闭
            option(value="1") 浪漫
            option(value="2") 工作
            option(value="3") 阅读

      div(data-role="footer", data-position="fixed")
        div(data-role="navbar", data-iconpos="bottom")
          ul
            li
              a(href="#page-main", data-icon="bars", data-transition="flip") Devices
            li
              a.ui-btn-active(href="#page-detail", data-icon="info", data-transition="flip") Detail
            li
              a(href="#page-settings", data-icon="gear", data-transition="flip") Settings

    div#page-settings(data-role='page')
      div(data-role='header', data-position="fixed")
        h1 Settings

      div(data-role='content')
        div(data-role='fieldcontain')
          label(for='settings-ip') SERVER IP
          input.ui-input-text.ui-body-c#settings-ip(type='text', placeholder='IP')

      div(data-role="footer", data-position="fixed")
        div(data-role="navbar", data-iconpos="bottom")
          ul
            li
              a(href="#page-main", data-icon="bars", data-transition="flip") Devices
            li
              a(href="#page-detail", data-icon="info", data-transition="flip") Detail
            li
              a.ui-btn-active(href="#page-settings", data-icon="gear", data-transition="flip") Settings

    script(type='text/javascript', src='cordova.js')
    script(type='text/javascript', src='lib/jquery/jquery.min.js')
    script(type='text/javascript', src='lib/jquerymobile/jquery.mobile-1.3.2.min.js')
    script(type='text/javascript', src='target/js/index.js')
    script(type='text/javascript').
      document.addEventListener("deviceready", function () {
        new App();
      }, false);
